@mixin track() { 
  width: 100%;
  height: 7px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 0px 0px 10px $purple;
  background: $white;
  border-radius: 5px;
  border: 2px solid $white;
}

@mixin thumb() {
  box-shadow: 0px 0px 5px $black;
  border: 1px solid $black;
  height: 36px;
  width: 36px;
  border-radius: 36px;
  background: $purple;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -17px;
}

@mixin tablet {
  @media (min-width: #{$tablet-width}) and (max-width: #{$desktop-width - 1px}) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: #{$desktop-width}) {
    @content;
  }
}