$tablet-width: 768px;
$desktop-width: 1024px;

$box-shadow: 0 12px 24px 0 rgba(0, 0, 0, 0.09);
$drop-shadow: 12px 12px 7px rgba(0,0,0,0.5);
$sillhouette: contrast(0) sepia(100%) hue-rotate(171deg) saturate(2000%) brightness(100%);
$rubik: 'Rubik', sans-serif;

$pink: #E6689C;
$blue: #76CAE4;
$purple: #b8b3e9;
$white: #FFFFFF;
$black: #171016;